$mobile: 425px;

.contactDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.additionalDetails {
  margin-top: 10px;
}

.additionalForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.formSection {
  overflow: auto;
  max-height: 100vh;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
}
.innerFormSection {
  padding: 10px 10px
}