@import 'Styles/color.scss';

.container {
  width: 100%;
  padding: 2rem 1rem;
  border: 2px solid lightgrey;
  border-radius: 5px;
  // overflow: auto;
  // max-height: 100vh;
}

.personalDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}

.leftSection {
  line-height: 1.5;
}

.rightSection {
  div {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    align-items: center;
  }
  svg {
    margin-left: 0.5rem;
    color: darkgrey;
  }
}

.divider {
  margin: 16px 5px;
  border-top: 2px solid lightgray;
}

.summaryWrapper {
  margin-top: 1rem;
}

.summary {
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 1rem;
}

// Employement history
.employementHistory {
  margin-top: 1rem;
}

.companyItem {
  margin-top: 1rem;
}

.companyHeading {
  padding: 5px;
  background-color: lightgray;
  margin-bottom: 1rem;
}

.companyName {
  display: flex;
  justify-content: space-between;
}

.projectsInfo {
  margin-left: 1rem;
  margin-top: 0.5rem;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.education {
  margin-top: 1rem;
  .educationInnerDiv {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  // div:nth-child(2) {
    
  // }
}

.skills {
  margin-top: 1rem;
  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    li {
      width: 31%;
      font-size: small;
      list-style-type: none;
      padding: 0.5rem;
      margin: 5px;
      border-radius: 5px;
      background-color: #edecec;
    }
  }
}

.languages {
  margin-top: 1rem;
}
.languageItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 2.5px 5px;
  }
}