.iconContainer {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addSection {
  background-color: #008000b4;
  height: 85%;
  margin-top: 20%;
  border: 1px solid lightgray;
  border-radius: 3px;
  transition: all 0.5s ease-in;
  
  &:hover {
    box-shadow: inset 5em 1em #008000b4;
  }
}

.deleteSection {
  background-color: #ff000078;
  height: 85%;
  margin-top: 20%;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.5s ease-in;

  &:hover {
    box-shadow: inset 5em 1em #ff000078;
  }
}