@import 'Styles/color.scss';
.container {
  display: grid;
  grid-template-columns: 95% 5%;
  column-gap: 0px;
}

.inlineDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  // margin: 10px 0;
  // border: 2px solid $themeColorRegular;
  // border-radius: 5px;
  // padding: 10px;
}

