@import 'Styles/color.scss';
$mobile: 425px;
.container {
  display: grid;
  grid-template-columns: 95% 5%;
  column-gap: 0px;

  @media screen and (max-width: $mobile) {
    grid-template-columns: 93% 7%;
  }
}

.inlineDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
