@import 'Styles/color.scss';
$mobile: 425px;

.container {
  line-height: 2;
  display: flex;
  flex-direction: column;
  margin: 5px 0;

  input {
    border: 2px solid transparent;
    background-color: $themeColorLite;
    padding: 10px 10px;
    color: black;
    font-size: 14px;
    border-bottom: 2px solid $themeColor;

    @media screen and (max-width: $mobile) {
      font-size: 11px;
      padding: 5px 5px;
      border-bottom: 1px solid $themeColor;
    }

    &:focus {
      outline: none;
      border-radius: 0;
    }
  }
  span:nth-child(1) {
    font-size: 15px;
    font-weight: 100;
    color: #8b8b8b;
  }
  span:last-child {
    font-size: 13px;
    font-weight: 100;
    color: $errorColor;
  }
}